module.exports = {
    APP_PORT : 4000,
    SOCKET_PORT : 5555,
    SOCKET_ENABLE : true,
    // HOST : 'http://124.158.5.133',
    HOST : 'http://localhost',
    DATABASE: 'mongodb://ugsv:adAxx123f55kk@localhost:27017/gsv'
};
